@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu');
/* css adapted from tachyons */
body {
    width: 100%;
    height: 100% cover!important;
    background: linear-gradient(180deg, #ddd 0%, #c198e2 51%, #9fa2d6 75%);
    border: 4px inset solid blue;
    padding: 0;
    margin: 0;
}
article{
    margin-top:1em;
    margin-bottom:1em;
}
.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 2em;
    padding: 0;
    text-transform: uppercase;
    overflow: hidden;
    width: 100%;
}
a:link{
text-decoration: none;
color:#333366;
}
a:active{
    text-decoration:none;
    color: redorange;
}
a:hover {
    text-decoration: none;
    font-weight: bold;
}
a:visited{
    color:brown;
}
a:focus{
    padding:0.3rem;
    outline:solid lightskyblue 2px;
}
ul.navbar li a:hover {
    text-shadow: #333 1px 1px 1px;
    color: blue;
    animation: ease-in 1.5s;
}
ul.navbar li a:active {
    outline: 1px skyblue;
}
.b{
    font-weight:bold;
}
.heading h3{
    text-transform: capitalize;
}
.f5 {
    font-size: 1rem;
}
.f6 {
    font-size: .875rem;
}
p{
    font-family: 'Ubuntu',
    sans-serif;
    font-size: 1rem;
    line-height: auto;
}
.lh-copy{
line-height:1.5;
}
.lh-title{
    line-height: 1.25;
    padding-left:0.5rem;
}
.navbar li{
     list-style-type: none;
     font-family: "Montserrat",
     Arial,
     sans-serif;
     font-weight: 300;
}
/* Measure is limited to ~66 characters */
.measure {
    max-width: 30em;
}
/* Measure is limited to ~80 characters */
.measure-wide {
    max-width: 34em;
}
img{
    width:100%;
    height:auto;
    margin:auto 0;
}
.pv2{
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}
.ph2{
      padding-left:0.5rem;
      padding-right:0.5rem;
}
.ph3{
   padding-left:1rem;
   padding-right:1rem;
}
.f4-ns {
    font-size: 1.25rem;
}
.right {
    float: right;
}   
.pv3 {
    padding-top:1rem;
    padding-bottom:1rem;
}
.pa2{
    padding:0.5rem;
}
.center{
margin:auto;
}
.fl{
    float:none;
}
.w-100 {
    max-width:100%;
}
.db{
    display:block;
}
.mb2{
    margin-bottom:2em;
}

footer ul li a{
    font-family:"Ubuntu", Arial, Helvetica, sans-serif;
}
/* fade transition */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.fade-in {
    opacity: 0;
    animation: fadeIn .5s ease-in 1 forwards;
}

.is-paused {
    animation-play-state: paused;
}


/*  desktop */
@media all and (min-width:1024px) {
    img{
        width: 650px;
    }
    .navbar#menu {
        display:flex;
        flex-flow: row wrap;
        align-items: center;
        justify-items: center;
        font-size: 1.6em;
    }
    .ph5-l {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .pv5-l {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    footer ul li {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        width: 100%;
        padding: unset;
        list-style-type: none;
    }
}
/* tablets and desktop */
@media all and (max-width:768px){
    img{
        width: 600px;
    }
    .ph4-m{
        padding-left:1rem;
        padding-right:1rem;
    }
    span.icon {
        display: none;
        text-decoration: none;
        color: gray;
        background-color: #333;
    }
}
/* medium screens */
@media all and ( min-width: 601px) {
    img{
        width: 500px;
    }
    span .icon {
        display: none;
        position: absolute;
        vertical-align: middle;
        overflow: hidden;
    }
    ul.navbar li {
        padding: 0.5em 0.8em;
        list-style-type: none;
        font-size: medium;
        list-style-type: none;
        text-decoration: none;
    }
    footer ul li {
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
        justify-content: space-evenly;
        align-items: baseline;
        font-size: 1em;
    }
}
/* smaller screens */
@media all and (max-width: 600px) {
    img{
        width: 400px;
    }
    span .icon.right {
        display: inline-block;
        background-color: #ddd;
        font-size: 1.8em;
        padding: 0.5em 1.5em;
        margin-right:auto;
        text-align: right;
        width: 100%;
    }
    ul.navbar li a {
        display: none;
    }
    ul.navbar.responsive,li{
        display:flex;
        background-color: #ddd;
        background-size: cover;
        flex-flow: column nowrap;
        list-style-type: none;
        width:100%;
        justify-items: stretch;
        align-items: center;
        font-size: 1.85em;
    }
    ul.navbar li .responsive has:a(:first-child) {
        display: flex;
        list-style-type: none;
        margin: 1.5em 0.8em;
    }
    footer ul li{
        display: flex;
        flex-flow: column nowrap;
        list-style-type: none;
        align-items: center;
        background-color: transparent;
        font-size: 1.5em;
    }
}
