@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Roboto:300,400,600|Yeseva+One");

body {
	height: 100%;
	width: 100vw;
	background: rgb(244, 232, 212);
	background: -moz-linear-gradient(
		90deg,
		rgba(244, 232, 212, 1) 0%,
		rgba(251, 241, 231, 1) 100%
	);
	background: -webkit-linear-gradient(
		90deg,
		rgba(244, 232, 212, 1) 0%,
		rgba(251, 241, 231, 1) 100%
	);
	background: linear-gradient(
		90deg,
		rgba(244, 232, 212, 1) 0%,
		rgba(251, 241, 231, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4e8d4",endColorstr="#fbf1e7",GradientType=1);
}
p,
li {
	line-height: 1.5;
	font-family: "Roboto";
}
header {
	display: flex;
	justify-content: space-between;
}
.icons {
	flex-flow: row wrap;
	display: inline-flex;
	align-items: baseline;
}
ul.icons,
main ul {
	list-style-type: none;
}
header,
h1,
h2,
h3,
h4,
h5 {
	font-family: "Roboto", Arial, sans-serif;
}
a {
	text-decoration: none;
	padding-bottom: 0.25em;
}
a:hover {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	background-position: bottom;
	border-bottom: 1px solid darkblue;
	background-repeat: repeat-x;
	background-size: 20%;
	border-bottom: 0;
	padding-bottom: 0.3em;
	text-decoration: none;
}
a:visited {
	color: darkblue;
}

.wrapper {
	margin: 1rem 2.5rem;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

@media (min-width: 768px) {
	.container {
		display: grid;
		grid-template-columns: 1fr 300px;
		grid-template-rows: auto 1fr auto;
	}
	aside {
		margin: 0.5rem 1rem;
	}
}

@media (max-width: 768px) {
	.container {
		display: column;
	}
	aside {
		flex: 1;
		margin: 1rem 2.5rem;
	}
	ul.icons {
		flex-flow: column nowrap;
	}
}

header {
	grid-column: span 3;
	padding: 2rem;
	text-align: left;
}

section {
	padding: 1em 2em;
}

.box {
	width: 30px;
	height: 30px;
	margin: 2px;
}
.fade:hover {
	opacity: 0.7;
}
